@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');

/*divisão cabeçalho*/

.cabecalho{
    width: 100%;
    float: left;
    padding: 3% 4%;
}

.logo{
    width: 56px;
    height: 56px;
    float: left;
    background: url(../imagens/icone-mansao.jpg) center center/56px no-repeat;
    font-size: 0px;
}

.btnmenu{
    width: 56px;
    height: 56px;
    float: right;
    text-align: center;
    color: white;
    border-radius: 56px;
    cursor: pointer;
    background: linear-gradient(to right, #601d53, #082c4e);
}


/*Banner*/

.banner{
    width: 100%;
    float: left;
    text-align: center;
    padding: 3% 4%;
    background: url(../imagens/bannermansao.jpg) no-repeat fixed;
}

.tittle{
    width: 100%;
}

.banner h2{
    font-size: 2.5em;
    color: #fff;
    font-weight: 700;
}

.banner h3{
    font-size: 1.5;
    color: #fff;
}

.buttons{
    width: 100%;
    margin-top: 2%;
}

.buttons i{
    float: right;
}

.btnapp{
    width: 100%;
    font-size: 1.5em;
    text-align: left;
    cursor: pointer;
    padding: 5%;
    border-radius: 10px;
    background-color: #fff;
    color: #130400;
    font-family: 'Times New Roman', Times, sans-serif;
}

.btnfaleconosco{
    width: 100%;
    font-size: 1.5em;
    text-align: left;
    cursor: pointer;
    padding: 5%;
    border-radius: 10px;
    background-color: #130400;
    color: #fff;
    font-family: 'Times New Roman', Times, sans-serif;
    margin-top: 2%;
}

/*serviços*/

.servicos{
    width: 100%;
    float: left;
    padding: 3% 4%;
}

.servico{
    width: 100%;
    background-color: #ffffff;
    text-align: left;
    border-radius: 7px;
    margin-bottom: 3%;
}

.servico img {
    border-radius: 7px 7px 0 0;
}

.inner{
    padding: 7%;
}

.inner a{
    font-size: 1.5em;
    color: #130400;
    font-weight: 700;
}

.inner h4{
    font-size: 1.2em;
    color: #130400;
    margin-top: 2%;
}

.inner p{
    margin-top: 6%;
    color: #130400;
    line-height: 1.5em;
}

main h1{
    font-size: 30px;
    text-align: center;
}

main h4{
    font-size: 30px;
    text-align: center;
}

main p{
    font-size: 18px;
    text-align: justify;
    font-weight: 100;
}

a.fonte{
    font-size: 22px;
    color: blue;
}

a.ifoodlink{
    font-size: 30px;
    text-align: center;
    position: relative;
    left: 40%;
    color: blue;    
}



/* Formatação do rodapé */

footer.rodape{
    background-color: black;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0%;
    border-radius: 3px;
}


.redersociais{
    display: inline;
    
}

.facebook{
    height: 40px ;
    width: 40px;
    position: absolute;
    bottom: 3px;
    left: 80px;
    
}
.instagram{
    position: absolute;
    height: 50px;
    bottom: 0px;
}

.ifood{
    position: absolute;
    padding: 0px;
    height: 40px;
    bottom: 3px;
    left: 140px;
}

.tel {
    position: absolute;
    right: 20px;
    top: 5px;
    border: white solid 1px;
    color: white;
    box-shadow: white 0px 0px 20px;
    padding-right: 5px;

}


footer i{
    margin: 10px;
}



/* Fim Inicio */

/* ================== Inicio edição galeria================ */


.imagemprincipal{
    border-radius: 7px 7px;
}

ul h1{
    position: relative;
    text-align: center;
    font-size: 50px;
    color: white;
    box-shadow: white 3px 3px 10px ;
    border: white 1px;
    width: 90%;
    left: 20px;
    margin: 2px 2px;
    margin-bottom: 5px;

}


ul.albumfotos{
    position: relative;

}

li img{
    
    position: relative;
    border-radius: 3px 3px;
    margin-right: 0px;
    width: 45%;
    height: 300px ;
    margin: 3px 0px 3px 15px;
    
}

.vejamais{
    position: static;
    width: 100%;
    height: 150px;
}

button.album{
    cursor: pointer;
    position: relative;
    left: 35%;
    font-size:30px;
    background: transparent;
    display: block;
    border: rgba(255, 255, 255, 0.5) 1px solid;
    padding: 3px 10px;
    border-radius: 10px 10px;
    color: rgba(255, 255, 255, 0.5);

}





