*{
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Sriracha', cursive ;
}

body{
    background-color: #401249;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

li{
    margin: 0px;
    padding: 0px;
    outline: 0px;
}
